body{font-family: 'Scheherazade', serif;
font-size: large;}
.card {
  max-width: 500px;
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: repeat(4, minmax(auto-fill, auto-fill));
  box-shadow: 5px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  padding: 2px;
  grid-template-areas:
    "picture identity"
    "editoropinion editoropinion";
    border: 1px solid rgb(209, 186, 186);
}

.picture {
  grid-area: picture;
}

.identity {
  grid-area: identity;
  margin: 2px;
  padding: 2px;
  border: 1px solid #000;
}

.editoropinion {
  grid-area: editoropinion;
  margin : 5px;
}

img {
  max-width: 150px;
  max-height: 150px;
}
.choices {
  display: grid;
  max-width: 500px;
  align-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "Hair Stomach Fat Plastic Dent";
}

.Hair { grid-area: Hair; }

.Stomach { grid-area: Stomach; }

.Fat { grid-area: Fat; }

.Plastic { grid-area: Plastic; }

.Dent { grid-area: Dent; }

